*{
     margin: 0;
     padding: 0;
     /* font-family:'Poppins', sans-serif; */
     box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #080808;
    color: white;
}
#header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(images/sample6.png);
    background-size: cover;
    background-position: center;
   
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    /* list-style: none; */
    margin: 10px 20px ;
    font-weight: 700;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content:'';
    width: 0;  
    /* width 0 to hide bottom line */
    height: 3px;
    background-color: #d400d4;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover{
    color: #d400d4;
    /* text-shadow: 2px 2px 5px #ffb7d2; */
}
nav ul li a:hover::after{
    width: 100%;
   
}
nav img{
    margin-top: 5px;
}
.header-text{
margin-top: 20%;
font-size: 30px;
}
.header-text h1{
    font-size: 65px;
    font-weight:800;
    margin-top: 5px;
    opacity: 0;
    color: #d400d4;
    animation: slideRight 0.5s ease forwards;
    animation-delay: 0.7s;
    transition: color 0.3s, text-shadow 0.5s;
}
.header-text h1:hover{
    color:#d400d4;
    text-shadow: 2px 2px 2px #ffb7d2;
    cursor:context-menu;
}
.header-text h3{
    font-size: 35px;
    margin-top: 10px;
    font-weight: 600;
     opacity: 0;
    animation: slideBottom 0.5s ease forwards;
    animation-delay: 0.5s;
}
.header-text h3:nth-of-type(2){
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: 0.5s;
}
.header-text h3 span{
    color: #00ccff;

}
/* .header-text h1 span{

} */

/* ----------about--------- */
#about{
    padding: 80px 0;
    color: #ababab ;
}
.about_img{
    height: 80%;
    margin-top: 20%;
    width: 100%;
}
.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-1
{
    flex-basis: 35%; 
    /* width of col-1 */
    padding-right: 60px;
    padding-bottom: 50px;
    border: 2px solid #d400d4;
    box-shadow: 5px 5px 10px #00ccff ;
}
.col-1 img{
    width: 120%;
    border-radius: 15px;
    /* opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s; */
}
.col-2
{
    flex-basis: 60%;
}
.sub-title
{
    font-size: 60px;
    font-weight: 600;
    color: #d400d4;
    text-shadow: 2px 2px 2px #e6b6c7;
}
.tab-titles
{
    display: flex;
    margin:20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}
.tab-links::after
{
    content:'';
    width: 0;  
    height: 3px;
    background-color: #d400d4;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
    
}
.tab-contents ul li{
list-style: none;
margin: 10px 0;
font-size: 18px;
}
.tab-contents ul li span{
    color: #d400d4;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.timeline_item
{
    position: relative;
    margin-bottom: 20px;
    padding-left:50px;
    transition: 0.5s;
}
.timeline_item::before{
    content: "";
    width: 2px;
    position: absolute;
    left: 0.48rem;
    top:0;
    height: 100%;
    background-color: #00ccff;
}

.circle-dot{
    position: absolute;
    left: 0;
    top:0 ;
    height: 1rem;
    width: 1rem;
    border: 2px solid #00ccff;
    border-radius: 50%;
    background-color: #00ccff;
    transition: 0.3s;
}
.timeline_item:hover{
    transform: translateY(-10px);
}
.timeline_item:hover .circle-dot{
    background-color: #080808;
}
.timeline_title{
    color: #00ccff;
    font-weight: 600;
    margin-bottom: 5px;
}
.timeline_text{
    margin-bottom: 10px;
}

.timeline_date i {
    color: #93c7d4;
    padding-right: 4px;
}


/* -----------skills-------------- */
.time-line-section {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: auto;
    background-size: 100vw;
    padding: 0 10vw;
}

.time-line-content {
    display: grid;
    place-items: center;
    width: 100vh;
    padding-bottom: 25vh;
}

.heading-description {
    display: grid;
    place-items: center;
    margin-bottom: 10vh;
    margin-left: -50vw;
}

.time-line-subheading {
    margin-left: 50vw;
}

.timeline2 {
    position: relative;
    display: grid;
    place-items: center;
}

.line {
    position: absolute;
    z-index: 2;
    width: 0.15vw;
    /* height: 100%; */
    top:-7vh;
    background-color: white;
    box-shadow: 0 0 30px white;
}

.line::before, .line::after {
    position: absolute;
    display: block;
    content: "";
    width: 1.2vw;
    height: 2vh;
    border-radius: 50%;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
}

.line::after {
    bottom: 0;
}

.time-line-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    margin: 1.2vh 0;
    padding: 1vw;
    width: 60vw;
    min-height: 25vh;
    opacity: 0;
    transition: 600ms ease;
}

.time-line-description:nth-child(odd) {
    flex-direction: row-reverse;
}

.mini-circle {
    position: absolute;
    display: block;
    content: "";
    width: 1.2vw;
    height: 2.3vh;
    border-radius: 50%;
    background-color: white;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

.content {
    width: calc(50% - 2vw);
    padding: 2vh 2vw;
    border-radius: 5%;
    box-shadow: 0 0 10px white;
    background-color: rgba(0, 0, 0, 0.7);
}

.show-me:nth-child(n) {
    transform: none;
    opacity: 1;
}

.content-timeline-description{
    color: white;
    padding-top: 2vh;
    line-height: 1.2;
    font-size: 18px;
}
.content-timeline-title{
    font-size: 35px;
}
.content-timeline-description2{
    font-size: 18px;
    margin-left: 15px;
}

/* ---------services---------- */

#services{
    padding: 30px 0;
}
.services-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: #262626;
    padding: 40px;
    /* font-size: 14px; */
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.services-list div:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
}

/* --------portfolio--------- */
#portfolio{
    padding: 50px 0 ;
}
/* animations */
.animation{
    opacity: 0;
    transition: all 0.5s;
}

.showUp{
    animation: showUp 1s;
}

@keyframes showUp {
    0%{
transform: translateY(10px) ;
    }
    100%{
transform: translateY(0px);
    }
}

.work-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px; 
    justify-content: space-around;
}
.work{
    position: relative;
    overflow: hidden;   
    display: grid;
    border-radius:20px ;
    padding-bottom: 20px;
    box-shadow: 0 0 9px white;
    /* place-items: centre; */
    text-align: center;
    z-index: 1 ;
    transition: transform 0.5s;
}
.work:hover{
    transform: scale(1.05)
}
.work img{
    width: 100%;
    height:300px;
    padding: 5%;
    margin-top: 5%;
    /* display: block; */
    transition: transform 0.5s;
    z-index: 1;
}
.work img:hover{
    transform: scale(1.05);
}

.layer h3, .layer p{
    margin-top: 20px;
    color: white;
    position: relative;
    font-size: 1.6vw;
    text-align: center;
    z-index: 10;
    margin-bottom: 20px;
    display: grid;
}
.layer p{
    font-size: 1vw;
}
.layer a{
    margin-top: 20px;
    color: #d400d4;
    font-weight: 900;
    text-decoration: none;
    font-size: 18px;
    background: white;
    padding: 15px;
    line-height: 60px;     /**/
    width: 60px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    z-index: 1;
    position: relative;
    transition: background 0.3s ease, font-size 0.5s ease;
}
.layer a:hover{
    background-color: #00ccff;
    font-size: 22px;
    color: white;
}
.layer p{
    padding: 0 10px 0 10px;
}
.work::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#00ccff,#d400d4);
    animation: rotation 5s linear infinite;
}
.work::after{
content: "";
position: absolute;
inset: 0.1vw;
background-color: #16063a;
border-radius: 15px;
}
@keyframes rotation {
    0%{
     transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* .work img:hover{
    transform: scale(1.1);
} */
/* .work:hover .layer{
    height: 100%;
} */
.btn {
    display: block;
    margin: 20px auto;
    width: fit-content;
    border: 3px solid #d400d4;
    background-color: #080808;
    padding: 14px 50px;
    border-radius: 5px;
    text-decoration: none;
    color:white;
    transition: background 0.5s;
}
.btn:hover{
    background: #d400d4;
}

/* ----------contact------------ */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
    margin-top: 5%;

}
.contact-left p{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}
.contact-left p i{
    color: #d400d4;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
    display: inline-block;
}
.social-icons a{
    text-decoration: none;
    font-size: 40px;
    margin-right: 15px;
    color: #00ccff;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #d400d4;
    transform: translateY(-5px);
}
.btn.btn2{
    /* background-color: #d400d4; */
    /* color: white; */
    display: inline-block;
    /* text-decoration: none; */
}
.contact-right form{
    width: 85%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color:white;
    font-size: 20px;
    border-radius: 6px;
}
form .btn2{
padding: 14px 60px;
font-size: 18px;
margin-top: 20px;
cursor: pointer;
}

/* ---------copyright footer------- */
#copyright{
width: 100%;
text-align: center;
padding: 25px 0;
/* margin-top: 20px; */
}
.profile-links{
    padding: 30px;
    background-color: #93c7d4;
    
}
.profile-links ul{
    list-style: none;
    font-weight: 700;
    
    }
    .profile-links ul li{
        display: inline-block;
        padding: 0 20px ;
        font-size: 18px;
    }
.profile-links ul li a{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: 700;
}
.profile-links ul li a:hover{
    color: #93c7d4;
    background-color: white;
    border-radius: 10px;

}
nav .fas{
    display: none;
}
#copyright p{
    padding: 10px;
    font-size: 18px;
    background-color: #262626;
}

/* ----------- css for small screen------------- */
@media only screen and (max-width:600px)
{
#header{
    background-image: url(images/phone-background.png);
}
.header-text{
    margin-top: 100%;
    font-size: 16px;
}
.header-text h1{
    font-size: 30px;
}
nav .fas{
    display: block;
    font-size: 25px;
}
nav ul{
    background: #d400d4;
    position: fixed;
    top:0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s
}
nav ul li{
    margin: 25px;
}
nav ul .fas{
    position: absolute;
    top:25px;
    left: 25px;
    cursor: pointer;

}
.sub-title{
    font-size: 40px;
}
.col-1, .col-2{
    flex-basis: 100%;
}
.col-1{
    margin-bottom: 30px;
}
.col-2{
    font-size: 14px;
}
.tab-links{
    font-size: 16px;
    margin-right: 20px;
}
.contact-left, .contact-right{
    flex-basis: 100%;
}
#copyright{
    font-size: 14px;
}
}



/* -----------------------KEYFRAMES ANIMATIONS----------------------- */
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}



@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}









/* ----------------3-D model--------------------- */

.hero-model{
    width: 70%;
}
model-viewer{
    width: 100%;
    height:40vh;
    z-index: 1;
}